# ensure text files use LF in the repo
* text=auto eol=lf

# explicitly handle common file types
*.js     text
*.jsx    text
*.ts     text
*.tsx    text
*.html   text
*.css    text
*.json   text
*.md     text
